@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-sora);
  }
}

:root {
  --heading-color: #193555;
  --text-color: #697e8a;
  --black: #000;
  --black: #ffff;
  --btn-color: #193555;
}

@layer utilities {
  .sora-font {
    font-family: var(--font-sora), sans-serif;
  }

  .unbounded-font {
    font-family: var(--font-unbounded), sans-serif;
  }
}

.nav-top i {
  color: #758ea2 !important;
}

.nav-menu li a.active {
  color: var(--black);
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1)) 77%;
}

.navbar.scroll::after {
  background: none !important;
  height: 0;
}

.hero {
  height: 100vh;
  background: url("/assests/hero-image.jpg");;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.her-content h1 {
  background: linear-gradient(0deg, #697e8a 10%, #fff 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: test;
  color: transparent;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000082;
}

.travel-item{
  height: 350px;
}
.travel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
      z-index: 0;
}

.section-banner{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(/assests/section-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.section-banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000be;  
}
.section-list{
  position: absolute;
  bottom: 30px;
  left: 12%;
}
.contact-form input{
  height: 45px;
  padding-left: 10px;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  border-radius: 5px;
}
::-webkit-slider-thumb{
  background-color: #193555;
  border-radius: 5px;
}
::-webkit-slider-thumb:hover{
  background-color: #0f243d;
}